# Salin file ini menjadi .env.local lalu isi dengan kredensial Supabase kamu.
# Ambil dari: Supabase Dashboard > Project Settings > API

NEXT_PUBLIC_SUPABASE_URL=hhttps://tfrfiootzlzqhrrhekos.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRmcmZpb290emx6cWhycmhla29zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyMDE1NzYsImV4cCI6MjA5ODc3NzU3Nn0.k12oAy1GwZbcewzE4ZwqygZGG31DOUE0ItwJ3BdJK3k
